.top {
    width: 1067px;
    position: absolute;
    top: 62px;
    left: 236px;
}

.container {
    width: 80vw;
    position: absolute;
    top: 370px;
    left: 10vw;
}

.bottom {
    width: 98.8vw;
    height: 5vw;
    position: fixed;
    top: 43vw;
    background: url(../images/bottom.png) repeat-x scroll;
    background-size: 100%;
    z-index: 1;
}

/* 简介 */
.brief {
    width: 600px;
    height: 400px;
    text-indent: 2em;
    font-family: LiSu;
    font-size: 18px;
    float: left;
}

.briefimg {
    width: 600px;
    height: 400px;
    background: url(../images/mountain2.png) no-repeat scroll;
    background-size: 100%;
    margin-left: 600px;
}

/* 由来 */
.origin {
    width: 600px;
    height: 650px;
    text-indent: 2em;
    font-family: LiSu;
    font-size: 18px;
    margin-left: 600px;
}

.originimg {
    margin-top: 100px;
    width: 600px;
    height: 400px;
    background: url(../images/mountain1.png) no-repeat scroll;
    background-size: 100%;
    float: left;
}

/* 民间习俗 */
.intro1 {
    width: 550px;
    height: 500px;
    text-indent: 2em;
    font-family: LiSu;
    font-size: 18px;
    float: left;
}

.intro2 {
    width: 550px;
    height: 500px;
    text-indent: 2em;
    font-family: LiSu;
    font-size: 18px;
    margin-left: 650px;
}

.intro3 {
    width: 550px;
    height: 700px;
    text-indent: 2em;
    font-family: LiSu;
    font-size: 18px;
    float: left;
}

.denggaoimg {
    width: 600px;
    height: 700px;
    background: url(../images/mountain.png) no-repeat scroll;
    background-size: 100%;
    margin-left: 650px;
}

.mountain {
    width: 600px;
    height: 1800px;
    background: url(../images/mountain3.png) repeat-y scroll;
    background-size: 87%;
    float: left;
}

.intro {
    width: 550px;
    height: 600px;
    text-indent: 2em;
    font-family: LiSu;
    font-size: 18px;
    margin-left: 650px;
}

/* 文学记述 */
.poetry1 {
    width: 550px;
    height: 450px;
    font-family: KaiTi;
    font-size: 18px;
    margin-left: 325px;
}

.poetry2 {
    width: 600px;
    height: 350px;
    font-family: KaiTi;
    font-size: 18px;
    margin-left: 300px;
}


#nav {
    position: fixed;
    top: 0;
    width: 98.8vw;
    height: 62px;
    background-color: rgb(33, 238, 187);
    border-radius: 20px;
    border: 1px solid greenyellow;
    margin-top: 0vw;
    z-index: 1;
}


/* 导航栏 */
#nav ul li {
    position: relative;
    float: left;
    width: 150px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    list-style-type: none;

}

#nav ul li a:before {
    content: "【";
    margin-right: 10px;
    transform: translateX(20px);
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
}

#nav ul li a:after {
    content: "】";
    margin-left: 10px;
    transform: translateX(-20px);
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
}

#nav ul li a:before,
#nav ul li a:after {
    display: inline-block;
    opacity: 0;
    transition: transform 0.3s, opacity 0.2s;
    -moz-transition: transform 0.3s, opacity 0.2s;
    -webkit-transition: transform 0.3s, opacity 0.2s;
    -ms-transition: transform 0.3s, opacity 0.2s;
}

#nav ul li a:hover::before,
#nav ul li a:hover::after,
#nav ul li a:focus::before,
#nav ul li a:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}